node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

/frontend/build/
/frontend/.svelte-kit/
/frontend/dist/
.output/
.vercel/
.netlify/

.env

data/
/data/

.docker/
.DS_Store
ehthumbs.db
Thumbs.db
.svelte-kit/
package-lock.json
yarn.lock
pnpm-lock.yaml